header button {
    display: none;
}

header ul.hide {
    display: block;
}

header ul {
    margin-left: 2%;
}

header ul li {
    float: left;
}

header {
    display: flex;
    justify-content: center;
}

header ul li a {
    border: none;
    background-color: antiquewhite;
    color: $color1;
    border-radius: 25% 10%;
    margin: .5rem 4px .5rem 2px;
    padding: .8rem 1rem;
}

iframe {
    max-width: 98%;
}

.index main div:nth-of-type(1) {
    border: none;
}

.index main div {
    display: flex;
    border: 2px solid $color1;
    padding: 1rem;
    border-radius: 15%;

}

.index main div:nth-of-type(3) {
    flex-direction: row-reverse;
    border: 2px solid $color2;
}

main img {
    width: 40%;
}
