/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navigation */
header {
    background-color: $color1;
}

header button {
    /* margin: .2rem 2%; */
    background-color: $color4;
    border: 2px solid $color2;
    border-radius: 25% 10%;
    font-size: 2rem;
    color: $color2;
    float: right;
    margin-top: .8rem;
    margin-right: .8rem;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li a {
    display: inline-flex;
    border: none;
    background-color: antiquewhite;
    color: $color1;
    max-width: 110px;
    border-radius: 25% 10%;
    padding: .8rem 2%;
    text-decoration: none;
    margin: 2px .8rem 2px .8rem ;
}

header ul li.active a {
    border: 2px solid $color2;
    border-radius: 25% 10%;
}

header ul li a:hover {
    background-color: $color1;
    color: $color2;    
    background-color: $color4;
    border: 2px solid $color2;
    border-radius: 25% 10%;

}

header ul.hide {
    display: none;
}

/* header */

header img {
    max-width: 75px;
}


body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

p {
    font-size: 18px;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    padding: .4rem 1%;
}

main img {
    width: 98%;
}

main p {
    padding: .8rem 2%;
}

footer {
    text-align: center;
    color: $color3;
    width: 100%;
}

footer p {
    margin: 0;
}

main,
footer {
    max-width: 850px;
    margin: auto;
    padding: 4px;
}

footer:link {
    color: $color3;
}

footer {
    background-color: $color2;
    
}

main a.tourButton {
    border: 3px solid $color2;
    border-radius: 100px 10px / 120px;
}

main a.rentButton {
    border: 3px solid $color2;
    border-radius: 10px 100px / 120px;
}

main div.whatsapp img {
    max-width: 50px;
}

.whatsapp {
    display: flex;
}

.whatsapp .left {
    flex: 1;
}

.whatsapp .right {
    flex: 1;
}

fieldset label {
    display: block;
    padding: .2rem;
}

.contact .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $color2;
    border-radius: 25% 10%;
    margin: .3rem;
    padding: 1rem;
}

.contact .address p {
    margin: 4px;
    padding: 4px;
}

.contact .address h3 {
    margin: 4px;
    padding: 4px;
}

form fieldset {
    border: 2px solid $color1;
    border-radius: 30px 100px 30px 30px;
    margin: .4rem;
}

.contact form fieldset:nth-child(2) {
    border: none;
}

legend {
    text-align: center;
    padding: 2px;
    font-weight: bold;
}

.submitButton {
    text-align: center;
}

.submit {
    border: 2px solid $color2;
    border-radius: 10px 100px / 120px;
    background-color: $color3;
    color: $color2;
}

.contact p {
    margin: .05rem;
}

.reservations form fieldset:nth-last-child(1) {
    border: none;
}

.reservations form fieldset:nth-last-of-type(2) {
    border-radius: 30px 100px 30px 30px;
}

.pre-footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.buttonsDiv a {
    margin: .5rem;
    padding: .2rem;
    font-size: 26px;
    font-weight: bold;
    background-color: $color3;
    text-decoration: none;
}

.buttonsDiv a:hover {
    background-color: antiquewhite;
    color: $color2;
    border: 3px solid $color1;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    color: $color1;
    font-size: 40px;
    margin: 0;
}

.tHead {
    font-size: 26px;
}

th,
td {
    border: 2px solid $color2;
    margin: 0;
    padding:4px;
    text-align: center;
}

th:nth-of-type(2n+2),
td:nth-of-type(2n+2) {
    border: 2px solid $color1;
}















/*------ Clearfix: force an Element not to collapse -------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}