@media only screen and (min-width: 64rem) {
    

    nav ul li a {
        padding: .6rem 1rem;
    }

    main div.gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main picture:hover {
        box-shadow: 0 0 25px #294033;
    }

}