@media only screen and (min-width: 683px) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #294033;
        padding: .8rem 1rem;
    }

    nav ul li:nth-child(1) {
        border-left: 1px solid #294033;
    }

    main div.gallery {
        grid-template-columns: 1fr 1fr;
    }
}