/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Navigation */
nav {
    background-color: #728C58;
    font-family: 'Oswald', sans-serif;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFD8B5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #294033;
    border-top: 1px solid #294033;
}

nav ul li.active a {
    background-color: #294033;
    color: #F2CDAC;
}

nav ul li a:hover {
    background-color: #C8D7DE;
    color: #294033;
}

nav ul.hide {
    display: none;
}

/* header */

header img {
    max-width: 75px;
}

header h1 {
    margin: 0;
    padding-top: .8rem;
}

header p {
    margin: 0;
    padding-top: .2rem;
    padding-bottom: 1.3rem;
}

header {
    background-color: #F2CDAC;
    color: #294033;
}

header div.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: antiquewhite;
    color: #294033;
    min-height: fit-content;
}

main div.gallery {
    display: grid;

    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
}


main picture {
    margin: 1em;
    border: 1px solid #294033;
    background-color: #294033;
    color:#F2CDAC;
    max-width: 300px;
}

main picture img[data-src] {
    filter: blur(0.2em);
}

main picture img {
    max-width: 100%;
}

main picture p {
    text-align: right;
    margin: 0;
    padding: 10px 20px 10px 20px;
}

/* img {
    max-width: 400px;
} */

footer {
    text-align: center;
    color: #FFD8B5;
}

footer p {
    margin: 0;
}

main,
footer {
    margin: 1rem;
}

footer {
    background-color: #728C58;
    color: #294033;
}

/* -- colors
antiquewhite
#182F99
#025949
#024059
-- */





/*------ Clearfix: force an Element not to collapse -------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}