@media only screen and (min-width: 35em) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;

    }

    nav ul li {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #CC856E;
        padding: .8rem 1rem;
    }

    


}