/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #182F99;
}

nav {
    background-color: #FFE1CF;
    font-family:Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #182F99;
    border-top: 1px solid #CC856E;
}

nav ul li.active a {
    background-color: #CC856E;
    color: #FFE1CF;
}

nav ul li a:hover {
    background-color: #CC856E;
    color: #FFE1CF;
}

nav ul.hide {
    display: none;
}

header img {
    max-width: 75px;
    float: left;
}

header h1 {
    margin: 0;
    padding-top: .8rem 2%;
}

header p {
    margin: 0;
    padding-top: .2rem;
    padding-bottom: 1.3rem;
}

header {
    background-color: #CC856E;
    color: #FFE1CF;
    text-align: center;
}



body {
    background-color: #8FDEFF;
    color: #182F99;
}


main h1, main h2, main h3, main h4, main h5, main h6 {
    background-color: #FFE1CF;
    padding: .4rem 1%;
}


main p {
    padding: .8rem 2%;
}
footer {
    background-color: #FFE1CF;
    text-align: center;
}

footer p {
    margin: 0;
}

/* -- colors
#8FDEFF
#182F99
#CC856E
#FFE1CF
#5E71CC
-- */





/*------ Clearfix: force an Element not to collapse -------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
