body {
    background-color: antiquewhite;
    margin: 2rem;
}

main p{
    color: white;
    background-color: black;
    padding: 1rem;
}

main p:nth-of-type(2n+1) {
    color: black;
    background-color: white;
}