/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



nav {
    background-color: #728C58;
    font-family: 'Oswald', sans-serif;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFD8B5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FFD8B5;
    border-top: 1px solid #294033;
}

nav ul li.active a {
    background-color: #294033;
    color: #F2CDAC;
}

nav ul li a:hover {
    background-color: #C8D7DE;
    color: #294033;
}

nav ul.hide {
    display: none;
}

header img {
    max-width: 75px;
}

header h1 {
    margin: 0;
    padding-top: .8rem;
}

header p {
    margin: 0;
    padding-top: .2rem;
    padding-bottom: 1.3rem;
}

header {
    background-color: #F2CDAC;
    color: #294033;
    display: flex;
    justify-content: center;
    align-items: center;
}



body {
    background-color: antiquewhite;
    color: #294033;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}


main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    padding: .4rem 1%;
}

img {
    width: 100%;
}


main p {
    padding: .8rem 2%;
}

footer {
    text-align: center;
    color: #FFD8B5;
}

footer p {
    margin: 0;
}

.forcast {
    display: none;
}

iframe {
    width: 100%;
}

section.summary p {
    padding-top: 0;
    margin: 0;
}

section.summary h3 {
    margin-bottom: 0;
}

div.article h2 {
    margin: 0;
    padding-bottom: 0;
}

div.article h3 {
    padding-top: 0;
    margin-top: 0;
    padding-left: 1.2rem;
}



main,
footer {
    max-width: 850px;
    margin: auto;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.summary {
    position: absolute;
    top: 10px;
    left: 2rem;
    background: radial-gradient(#eee, #F2CDAC);
    border: 1px solid #294033;
    padding: .25rem;
}

section.summary p,
section.summary h3 {
    padding: 1px;
    margin: 0;
}

h2:nth-child(1) {
    margin: 0;
}

div.article {
    margin: 0 auto;
    background: radial-gradient(#eee, #F2CDAC);
    border: 1px solid #294033;
}

footer {
    background-color: #728C58;
}

div.contact {
    display: flex;
}

div.address {
    justify-content: center;
}

/* -- colors
antiquewhite
#182F99
#025949
#024059
-- */





/*------ Clearfix: force an Element not to collapse -------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}