body {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 20px;
    background-color: #8FDEFF;
    font-family: 'Oswald', sans-serif;
    color: #182F99;
    padding: 10px;
}
footer {
    text-align: center;
    background-color: #182F99;
    color:#CC856E;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', serif;
    background-color: #182F99;
    color: #CC856E;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
}
img {
    width: 150px;
}