/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navigation */
nav {
    background-color: #294033;
    font-family: 'Oswald', sans-serif;
}

nav button {
    /* margin: .2rem 2%; */
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFD8B5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FFD8B5;
    /* border: 2px solid #294033; */
}

nav ul li.active a {
    background-color: antiquewhite;
    color: #294033;
    /* border: 2px solid #294033; */
}

nav ul li a:hover {
    background-color: #C8D7DE;
    color: #294033;
}

nav ul.hide {
    display: none;
}

/* header */

header img {
    max-width: 75px;
}

header h1 {
    margin: 0;
    padding-top: .8rem;
}

header div.pancakes span p {
    background-color: #294033;
    color: #FFD8B5;
    padding: 10px;
    text-align: center;
}

header p {
    margin: 0;
    padding-top: .2rem;
    padding-bottom: 1.3rem;
}

header {
    background-color: #728C58;
}

header div.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
p {
    font-size: 18px;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    padding: .4rem 1%;
}

img {
    width: 100%;
}

main p {
    padding: .8rem 2%;
}

footer {
    text-align: center;
    color: #FFD8B5;
}

footer p {
    margin: 0;
}

.forcast {
    display: none;
}

iframe {
    width: 100%;
}

section.summary p {
    padding-top: 0;
    margin: 0;
}

section.summary h3 {
    margin-bottom: 0;
}

div.article h2 {
    margin: 0;
    padding-bottom: 0;
}

div.article h3 {
    padding-top: 0;
    margin-top: 0;
    padding-left: 1.2rem;
}

main,
footer {
    max-width: 850px;
    margin: auto;
    padding: 4px;
}

footer:link {
    color: #F2CDAC;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.summary {
    position: absolute;
    top: 10px;
    left: 2rem;
    background: radial-gradient(#eee, #F2CDAC);
    border: 1px solid #294033;
    padding: .25rem;
}

section.summary p,
section.summary h3 {
    padding: 1px;
    margin: 0;
}

.town h2 {
    border: 2px solid #294033;
    border-radius: 5px;
    max-width: fit-content;
    margin: 6px;
}

div.article h2 {
    border: none;
}

h2:nth-child(1) {
    margin: 0;
}

div.article {
    margin: 0 auto;
    background: radial-gradient(#eee, #F2CDAC);
    border: 1px solid #294033;
}

footer {
    background-color: #728C58;
    color: #294033;
}

div.contact {
    display: flex;
}

div.address {
    justify-content: center;
}

div.towninfo section {
    background-color: #728C58;
    margin: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    }

/* INDEX PAGE  */
body.home div.towninfo p {
    margin: 0;
    padding: 4px;
}




/* PRESTON PAGE */
div.article img.deer {
    max-width: 50%;
    float: right;
    padding: 6px;
}

/* Storm Center */
body.center main form {
    padding: 4px;
}

body.center main fieldset {
    color: #294033;
    border: 3px solid #294033;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

body.center main legend {
    padding: 2px;
}

body.center main form input {
    margin: 2px;
    background-color: #294033;
    color:#FFD8B5;
}

body.center main form ::-webkit-input-placeholder {
    color: #FFD8B5;
}

body.center main textarea, body.center main select, body.center main button {
    background-color: #294033;
    color: #FFD8B5;
}

body.center main button {
    margin-top: 10px;
}

/* -- colors
antiquewhite
#182F99
#025949
#024059
-- */





/*------ Clearfix: force an Element not to collapse -------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}